html, body {
	margin: 0;
	padding: 0;
}
.carousel-wrapper {
  position: relative;

  .carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 25px 50px;
    opacity: 0;
    transition: all 0.5s ease-in-out;

    .arrow {
    position: absolute;
    top: 0;
    display: block;
    width: 50px;
    height: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    background: url('../arrow.png') 50% 50% / 20px no-repeat;

      &.arrow-prev {
        left: 0;
      }

      &.arrow-next {
        right: 0;
        -webkit-transform: rotate(180deg);
                transform: rotate(180deg);
      }
    }

    &.light {
      color: white;

      .arrow {
        background: url('../arrow.png') 50% 50% / 20px no-repeat;
      }
    }

    @media (max-width: 480px) {
      .arrow, &.light .arrow {
        background-size: 10px;
        background-position: 10px 50%;
      }
    }
  }

  [id^="target-item"] {
    display: none;
  }

  .item-1 {
    z-index: 2;
    opacity: 1;
    background-color: #009CE0;
  }
  .item-2 {
  	background-color: #0277BD;
  }
  .item-3 {
  	background: url('../blurry.jpg') no-repeat;
  	background-size: cover;
  }

  *:target ~ .item-1 {
    opacity: 0;
  }

  #target-item-1:target ~ .item-1 {
    opacity: 1;
  }

  #target-item-2:target ~ .item-2, #target-item-3:target ~ .item-3 {
    z-index: 3;
    opacity: 1;
  }
}